


    <p style="text-align: center;">
        Check out the nuclear power stations on the map.
    </p>

    <div id="map_for_landing_page" class="mapOnStartPage round" ></div>

    <p style="text-align: center;">
      Sign up for free and post some measurements.
    </p>

    <p>
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
    </p>