<div class="user_info">
  <a href="<%= user_path (@user.username) %>">
    <div style="float:left;">
        <%= gravatar_for @user, :size => 40 %>
    </div>
    <div style="padding-left: 10px; display:inline-block;">
      <%= @user.fullname %><br/>
    </div>
  </a>
</div>