<div class="content_cell">
	<h1>About</h1>
	<p>
		EOL's Global Biotic Interactions (GloBI)
	</p>
	<p>
		This is using data from EOL's GloBI.
	</p>
	<p>
		<b>Vision</b>: to collect, organize, validate, and preserve species interaction data.  For more information see <a href="http://github.com/jhpoelen/eol-globi-data/wiki">Our GloBI wiki</a>.
	</p>
</div>