<div class="content_cell">
	<h1>About</h1>
	<h2>Mission</h2>
	<p>The mission of EOL's Global Biotic Interactions (GLoBI) is to find efficient ways to normalize and integrate species-interaction data. By making this data readily available, GloBI will enable researchers and enthusiasts to answer questions about localized, one-to-one species interactions and big-picture changes in species interactions over time. For example, GloBI can answer which species an Angel Shark (Squatina squatina) eats in the Gulf of Mexico, or return the results of a query for the number of Angel Sharks feeding in the Gulf of Mexico between 2005 and 2010. For more information see <a href="http://github.com/jhpoelen/eol-globi-data/wiki">our GloBI wiki</a> or <a href="http://globalbioticinteractions.wordpress.com">blog</a>.
	</p>

	<h2>Proof of Concept</h2>
	<p>This (minimal) website serves as a proof of concept on how to use GloBI data and services in a web environment. You can find the source code associated to this project <a href="http://github.com/reiz/eol-globi-web">on github</a></p>.

</div>