<div class="content_cell">
	<h1>About</h1>
	<p>
		Gulf of Mexico Species Interactions (GoMexSI)
	</p>
	<p>
		A database and informatics resource
	</p>
	<p>
		<b>Vision</b>: to collect, organize, validate, and preserve species interaction data from the Gulf of Mexico to synthesize and synergize Gulf ecosystem ecological research to address questions on larger scales than now possible.
	</p>
	<p>
		<b>Objectives</b>: 
		<ul>
			<li>
				Create a publicly accessible species interaction database for the Gulf of Mexico;
			</li>
			<li>
				Provide a platform to encourage data sharing and collaborations around the Gulf;
			</li>
			<li>
				Provide a resource that will enable scientists from a variety of disciplines to ask questions and seek answers no possible previously;
			</li>		
			<li>
				Create or provide access to tools for visualizing and analysis.
			</il>
		</ul>
	</p>	
</div>