<div class="content_cell">
	<h1>Code of Ethics</h1>	
	<p>
	The data contained herein were collected over the past 130 years by fellow scientists – please respect their efforts and treat the data as if it were your own.
	</p>
	<p>
	If you use any data from the GoMexSI database that is not your own, we request that you give full attribution to the original contributor of the data, or to the author of the source of said data.
	</p>
	<p>
	To the greatest extent possible, we encourage scientists using data from the GoMexSI database to seek collaborations with the contributors and/or authors of data from the database.
	</p>
	<p>
	We will reserve the right to restrict access and usage rights to the database of any person using these data who is later found to have violated the ethical use of other’s data.
	</p>	
</div>