<div class="content_cell">
	<h1>Data Contributors</h1>	
	<p>
		table with column names: Contributor, Institution / Employer, Number of Species, Number of Specimen Examined, Number of Interactions.
	</p>	
	<p>
		Where contributor is the person associated with the study, number of species is count(distinct taxon.name) for that study etc.
	</p>
</div>




