<div id="minimap" style="width: 800px; height: 300px;">

</div>
<div align="center">
  <table>
    <tr>
      <td height="500">
        <span class="chart" id="interaction_graph"/>
      </td>
      <td>
        <span id="interaction_graph_legend"/>
      </td>
    </tr>
    <td width='800' height="36">
      <b>selected interactions</b>
      <span id="selected-interactions"/>
    </td>
    </tr>
    <tr>
      <td>

      </td>
    </tr>

  </table>
</div>
<script type="text/javascript">
    var spinnerOpts = {
        lines: 13, // The number of lines to draw
        length: 20, // The length of each line
        width: 18, // The line thickness
        radius: 49, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb or array of colors
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        //top: '200', // Top position relative to parent in px
        left: '300' // Left position relative to parent in px
    };
    var target = document.getElementById( 'interaction_graph' );
    var spinner = new Spinner( spinnerOpts ).spin(target);

    var EOL = EOL || {};

    EOL.interactions = {};

    EOL.interactions.options = {
        location: {
            nw_lat: <%=@nw_lat %>,
            nw_lng: <%=@nw_lng %>,
            se_lat: <%=@se_lat %>,
            se_lng: <%=@se_lng %>
        },
        width: 800,
        height: 500
    };



    EOL.map = {};

    EOL.map.bounds = ( new google.maps.LatLngBounds() ).fromEolCoords( EOL.interactions.options.location );

    EOL.map.options = {
        center: EOL.map.bounds.getCenter(),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        disableDoubleClickZoom: true,
        draggable: false
    };

    EOL.map.instance = new google.maps.Map( document.getElementById( 'minimap' ), EOL.map.options );
    EOL.map.instance.fitBounds( EOL.map.bounds );

    EOL.map.areaPicker = new google.maps.Rectangle( {
        bounds: EOL.map.bounds,
        editable: false,
        clickable: false,
        fillOpacity: 0.1
    } );

    EOL.map.areaPicker.setMap( EOL.map.instance );

    // event emitter (ee) object is returned for client to respond to events
    var ee = globi.addInteractionGraph( EOL.interactions.options );

    // interaction data is received and has been rendered
    ee.on('ready', function () {
        spinner.stop();
        ee.appendGraphTo(document.querySelector('#interaction_graph'));
        ee.appendLegendTo(document.querySelector('#interaction_graph_legend'));
    });

    // specific interactions have been selected by user
    ee.on('select', function (interactions) {
        // use d3 to render interaction data into html div elements
        globi.d3.selectAll('#selected-interactions').selectAll('div')
                .data(interactions)
                .enter().append('div').text(function (d) {
                    // use interaction data to do something meaningful
                    return '[' + d.source.name + ' (' + d.source.id + ')]-[:'
                            + d.type
                            + ']->[' + d.target.name + ' (' + d.target.id + ')]';
                });
    });

    ee.on('deselect', function () {
        // remove previously rendered interaction information
        globi.d3.selectAll('#selected-interactions').selectAll('div').remove();
    });
</script>
<script>

</script>