  <div align="center" >
	<div id="map_for_location_page" class="mapOnLocationPage round" ></div>	
  </div>
  <div class="container">
	<% @specimens.each do |specimen| %>
		<div class="span-8 round" style="padding: 10px; margin-bottom: 10px; border: 1px solid gray;">
			<a href="http://www.wikipedia.org/wiki/<%=specimen.species.split(" ")[0]%>"><%= specimen.species %></a></br>
			<img src="<%= specimen.thumbnail %>" ></img><br/>
			<label>Length:</label> <%= specimen.lengthInMm %> mm
		</div>
	<% end %>
  </div>
  <br/>  