<div class="content_cell">
	<h1>Partners</h1>	
	<p>
		Texas A&M Corpus Christi - <a href="http://www.tamucc.edu">http://www.tamucc.edu</a><br/><br/>

		Cinvestav - <a href="http://www.cinvestav.mx">http://www.cinvestav.mx</a><br/><br/>

		Center for Spatial Analysis - <a href="http://csa.ou.edu">http://csa.ou.edu</a><br/><br/>

		University of Oklahoma - <a href="http://www.ou.edu/web.html">http://www.ou.edu/web.html</a><br/><br/>
	</p>	
</div>