<footer>
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/code_of_ethics">Code of Ethics</a></li>
		<li><a href="/funding_sources">Funding Sources</a></li>
		<li><a href="/partners">Partners</a></li>
		<li><a href="/data_contributors">Data Contributors</a></li>
	</ul>
</footer>